<h3>Popular</h3>
<ng-container
  *appLoadData="
    let context;
    let ctrl = controller;
    let loading = loading;
    params: { method: 'getPopular' }
  "
>
  @if (loading) {
    <p>Loading...</p>
  } @else {
    <app-media-list
      [mediaItemList]="context?.results"
      [mediaType]="'movie'"
    ></app-media-list>
    <br />
    <app-media-pagination
      [currentPage]="context?.page"
      [totalPages]="context?.total_pages"
      (currentPageChange)="ctrl?.load($event)"
    ></app-media-pagination>
  }
</ng-container>

<h3>Upcoming</h3>
<ng-container
  *appLoadData="
    let context;
    let ctrl = controller;
    let loading = loading;
    params: { method: 'getUpcoming' }
  "
>
  @if (loading) {
    <p>Loading...</p>
  } @else {
    <app-media-list
      [mediaItemList]="context?.results"
      [mediaType]="'movie'"
    ></app-media-list>
    <br />
    <app-media-pagination
      [currentPage]="context?.page"
      [totalPages]="context?.total_pages"
      (currentPageChange)="ctrl?.load($event)"
    ></app-media-pagination>
  }
</ng-container>
